.App {
  text-align: center;
  margin-top: 5%;
}

.imgStyle {
  width: 100%;
  max-width: 250px;
}

.icoStyle {
  width: 100%;
  max-width: 25px;
}

div, a {
  transition-property: all;
  transition-duration: 1s;
}

.dark div {
  background-color: black;
  color: white;
}

.light div {
  background-color: white;
  color: black;
}

.dark a {
  color: white;
}

.light a {
  color: black;
}